@font-face {
  font-family: "Unifont";
  src: url("/fonts/unifont.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Unifont", monospace;
  background: #000;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #050505;
}